<div class="signupctn">
    <div class="supcontainer">
        <h1>Sign Up</h1>
        <form method="post" class="incontainer" action="/sign-up">
            <div class="supentry">
                <label for="firstName" class="label">First Name</label>
                <input type="text" id="firstName" name="firstName" value="<%= formData ? formData.firstName : '' %>">
                <% if (errors && errors.firstName) { %>
                    <div class="error" style="color: red;"><%= errors.firstName %></div>
                <% } %>
            </div>
            <div class="supentry">
                <label for="lastName" class="label">Last Name</label>
                <input type="text" id="lastName" name="lastName" value="<%= formData ? formData.lastName : '' %>">
                <% if (errors && errors.lastName) { %>
                    <div class="error" style="color: red;"><%= errors.lastName %></div>
                <% } %>
            </div>
            <div class="supentry">
                <label for="email" class="label">Email</label>
                <input type="text" id="email" name="email" value="<%= formData ? formData.email : '' %>">
                <% if (errors && errors.email) { %>
                    <div class="error" style="color: red;"><%= errors.email %></div>
                <% } %>
            </div>
            <div class="supentry">
                <label for="password" class="label">Password</label>
                <input type="password" id="password" name="password" value="<%= formData ? formData.password : '' %>">
                <% if (errors && errors.password) { %>
                    <div class="error" style="color: red;"><%= errors.password %></div>
                <% } %>
            </div>
            <div class="btncontainer">
                <button type="submit" class="signupbtn">Create Account</button>
            </div>
        </form>
        <div class="login-link">
            <p>Already have an account? <a href="/log-in">Login</a></p>
        </div>
    </div>
</div>